//
// Swagger-Server variables
// ----------------------------------------------
$swagger-green: #8ABD24;
$navbar-icon-size: 32px;


//
// Bootstrap variable overrides
// ----------------------------------------------
$gray-dark: #4a4a4a;
$gray-light: #B6B1B1;

$brand-success: $swagger-green;

$navbar-inverse-bg: $gray-dark;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
